@import '../Variable.scss';
.textField {
    div:nth-child(2) {
        width: 100%;
    }
}
div.signBlockDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 70px;
    label.blockBigTitle{
        font-size: 1.4em;
    margin-bottom: 30px;
    font-weight: bold;
    }
    label.blockContent{
        font-size: 1.2em;
    }
    label.timeLeft{
        margin-top: 15px;
    }
}
div.signForm {
    width: 90%;
    div.email {
        width: 100%;
    }
    button.signInButton{
        min-height: 36px;
    }
    span.noteSign {
        display: flex;
        margin: 5px 0px 20px 0px;
        svg {
            width: 3%;
            height: 100%;
            margin-right: 5px;
            path {
                fill: $hight-light_color;
            }
        }
        label {
            font-size: .75em;
            color: $hight-light_color;
        }
    }
    a.linkSignButton {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        button {
            font-weight: bold;
        }
    }
    div.passForm {
        div:first-child {
            div:first-child {
                width: 100%;
            }
        }
        span.forgotPassLink {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            font-size: .8em;
            margin: 5px 0px 20px 0px;
            a {
                margin-left: 5px;
                color: $hight-light_color;
            }
        }
        div.pass2 {
            margin-left: 10px;
        }
        a.forgotPass {
            width: 100%;
            display: block;
            text-align: right;
            font-size: .8em;
            color: #ccc;
            margin: 5px 0px;
        }
        flex-direction: row !important;
    }
    div.buttonDiv {
        margin: 10px 0px;
        height: 36px;
        margin-top: 70px;
        div.defaultSignIn {
            button {
                width: 100%;
            }
        }
        div.socialSignIn {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            svg {
                width: 36px;
                path {
                    fill: #ccc;
                }
            }
            button.socialSignIn{
                width: 40px;
                padding: 2px;
                margin: 0px;
            }
            svg.svgLoadingBlockTime{
                width: 25px;
            }
        }
    }
}