@import '../Variable.scss';
.border16Input {
    width: 50%;
    height: 25px;
    border: unset;
    padding: 0px 10px;
    border-radius: 16px;
    background-color: #e0e0e0;
    outline: unset;
    font-size: 0.75em;
}

.mainPostForm {
    z-index: 999999 !important;
    button.buttonSvg {
        min-width: unset;
        width: 36px;
        padding: 5px;
        min-height: unset;
        svg {
            width: 100%;
        }
    }
    [class*="MuiPaper-root"] {
        max-width: unset;
        width: 50%;
        .dialogContent {
            div:first-child {
                width: 100%;
            }
            div:first-child:hover {
                [class*="MuiPrivateNotchedOutline"] {
                    border-color: $main_button_color;
                }
            }
            [class*="MuiPrivateNotchedOutline"] {
                border-color: #444;
            }
            [class*="MuiPrivateNotchedOutline-focused"]+div {
                textarea {
                    color: $main_button_color !important;
                }
            }
            div.tagPost {
                display: flex;
                margin-top: 10px;
                align-items: center;
                flex-wrap: wrap;
                svg {
                    width: 3.5%;
                    height: 100%;
                    margin-right: 5px;
                    path {
                        fill: #333
                    }
                }
                div.tagChip {
                    height: 23px;
                    margin: 5px;
                    line-height: 23px;
                    border: solid 1px #e0e0e0;
                    span {
                        padding-left: 10px;
                        padding-right: 10px;
                        font-weight: bold;
                        font-size: .9em;
                    }
                }
                div.tagChipActive {
                    border: solid 1px $main_button_color;
                    background-color: transparent;
                    span {
                        color: $main_button_color;
                    }
                }
                input {
                    @extend .border16Input;
                    max-width: 80px;
                    background-color: #ccc;
                    font-weight: bold;
                }
            }
            div.moreOptionPost {
                margin-top:10px;
                div.locationPost {
                    display: flex;
                    align-items: center;
                    input {
                        @extend .border16Input;
                        width: 100%;
                    }
                    svg {
                        width: 9%;
                        height: 100%;
                        margin-right: 5px;
                    }
                }
                div.option{
                    padding: 0px 15px;
                    svg{
                        width: 22px;
                        margin: 0px 5px;
                        padding: 1px;
                        height: 22px;
                        transition: 300ms;
                        border: solid 1px #ccc;
                        border-radius: 3px;
                    }
                    svg:hover{
                        background-color: #ccc;
                        transition: 300ms;
                    }
                    svg.addImageBtnActiv{
                        border-color: #ff3b00;
                        path{
                            fill: #ff3b00;
                        }
                    }
                }
                div.addImageForm {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 15px;
                    div:nth-child(1) {
                        width: 80px !important;
                        height: 80px !important;
                        border: solid 1px #ccc !important;
                        display: flex;
                        justify-content: center;
                        padding: 10px;
                        svg {
                            width: 30%;
                        }
                        img {
                            width: 100%;
                        }
                        svg.cancelImage{
                            width: 15%;
                            position: absolute;
                            top: -12px;
                            right: -10px;
                            z-index: 999999;
                            path{
                                fill:#d32f2f;
                            }
                        }
                    }
                }
            }
        }
        .dialogTitle {
            padding: 24px 24px 0px;
        }
        .dialogActions {
            margin-bottom: 15px;
            button {
                span {
                    font-weight: bold;
                }
            }
            button:first-child {
                background-color: #ccc;
                min-width: 84.58px;
                box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
                span {
                    color: $app_background;
                }
                [class*="MuiCircularProgress-root"] {
                    color: $main_button_color !important;
                }
            }
            button:last-child {
                span {
                    color: red;
                }
            }
        }
    }
    [class*="MuiPrivateNotchedOutline-focused"] {
        border-color: $main_button_color !important;
    }
}