@import './Variable.scss';
@import './Font.scss';
::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: #555;
}
.app {
    font-family: "Lato" !important;
    background-color: $app_background;
    label,input {
        color: #cccccc;
        font-family: "Lato" !important;
    }
    
    a {
        text-decoration: none;
    }
    div.borderDiv {
        border: solid 1px #ccc;
    }
    div.container {
        width: 85%;
    }
    .flexDivCol {
        display: flex;
        flex-direction: column;
    }
    .flexDivRow {
        display: flex;
        flex-direction: row;
    }
    button {
        border-radius: 2px;
        text-transform: unset;
        span {
            font-family: "Lato" !important;
            color: white;
        }
        label{
            font-family: "Lato" !important;
        }
    }
    button span,button label,button svg{
        cursor: pointer;
    }
    button.mainButton {
        background-color: $main_button_color;
        color: white;
    }
    button.mainButtonBorder {
        border: solid 1px $main_button_color;
        color: white;
        background-color: transparent;
    }
    button:disabled {
        box-shadow: unset !important;
        cursor: no-drop;
    }
    button.buttonSvg {
        min-width: unset;
        width: 36px;
        padding: 5px;
        min-height: unset;
        svg {
            width: 100%;
        }
    }
    .myTextField {
        div:nth-child(2)::before {
            border-bottom: solid 1px #cccccc;
        }
        div:nth-child(2) {
            color: #cccccc;
        }
        div:nth-child(2):hover::before {
            border-bottom: solid 2px $hight-light_color !important;
        }
        [class*="MuiFormLabel-focused"] {
            color: $hight-light_color !important;
        }
        [class*="MuiInputBase-focused"] {
            border-color: $hight-light_color !important;
        }
        div:nth-child(2)::after {
            border-color: $hight-light_color !important;
        }
    }
    div.mainContent {
        flex-grow: 1;
        width: 90%;
        display: flex;
        flex-direction: column;
    }
}