@import './Variable.scss';
label.loadingLabel {
    display: block;
    border-radius: 16px;
    height: 24px;
    background-color: #212121;
}

label.labelAvatar {
    width: 50px;
    height: 39px;
    display: flex;
    background-color: floralwhite;
    color: red;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    font-weight: bold;
    border: solid 1px #ccc;
    border-radius: 50%;
}

input.border16 {
    border-radius: 16px;
    font-family: "Lato" !important;
    font-size: .8em;
    background-color: #212121;
    border: unset;
    color: #ccc;
    outline: unset;
}

div.postDiv {
    position: relative;
    background-color: #292929;
    padding: 10px 0px 5px 0px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    svg.svgLoadingBlockTime{
        width: 40px;
        opacity: .5;
        path{
            fill:white;
        }
    }
    div.authorOptionDiv {
        display: flex;
        transition: 300ms;
        width: 50%;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
        background-color: #ccc;
        position: absolute;
        padding: 10px;
        border-radius: 3px;
        left: 10px;
        span.authorOptionInfo {
            display: flex;
            align-items: center;
            flex-grow: 1;
            img.authorOptionavatar {
                width: 20%;
                border-radius: 50%;
            }
            label.authorOptionProfileName {
                color: #333;
                margin-left: 5px;
                font-weight: bold;
            }
        }
        span.authorOptionAction {
            text-align: right;
            width: 50%;
            display: flex;
            justify-content: center;
            button.postEditBtn {
                width: 45%;
                margin-right: 2px;
                svg {
                    path {
                        fill: #333;
                    }
                }
            }
        }
    }
    div.loadingDiv {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        div.myCircularProgress {
            color: rgba(204, 204, 204, .5);
            margin-bottom: 70px;
        }
    }
    div.postUserInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 10px;
        img {
            width: 40px;
            border-radius: 50%;
            border: solid 1px #ccc;
        }
        div.postUserName {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            width: 100%;
            label.profileName {
                font-size: .9em;
            }
            label.postDate {
                font-size: 0.65em;
            }
            label.loadingUserName {
                @extend .loadingLabel;
                width: 95%;
                margin: 5px 0px;
                height: 20px;
            }
            label.loadingDate {
                @extend .loadingLabel;
                width: 50%;
                height: 20px;
            }
        }
    }
    div.contentDiv {
        padding: 5px 0px 5px 0px;
        border-top: solid 1px #3c3c3c;
        margin: 10px 10px 0px 10px;
        label.content {
            font-size: .85em;
        }
        label.loadingContent {
            @extend .loadingLabel;
            width: 95%;
            margin: 5px;
        }
        label.loadingContentW50 {
            @extend .loadingLabel;
            width: 50%;
            margin: 5px;
        }
    }
    div.postImageDiv {
        img.postImage {
            width: 100%;
            margin-top: 10px; //box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
        }
    }
    div.postInteractive {
        text-align: right;
        span {
            margin: 0px 7px;
            svg {
                width: 20px;
            }
            label {
                font-size: .8em;
            }
            label.labelLiked {
                color: #ffe000;
            }
        }
    }
    div.postTagDiv {
        padding: 0px 10px;
        div.postTag {
            height: 23px;
            margin: 5px;
            background-color: #212121;
            color: #ccc;
            span {
                padding-left: 10px;
                padding-right: 10px;
                font-size: .85em;
            }
        }
        div.loadingPostTag {
            width: 20%;
        }
        span.spanBorder {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
        } // span.spanBorder:before {
        //     content: '';
        //     width: 70%;
        //     height: 1px;
        //     background-color: #3c3c3c;
        //     position: absolute;
        // }
    }
    div.postCommentBox {
        width: 100%;
        margin: 10px 5px 0px 5px;
        position: relative;
        textarea {
            width: 100%;
            padding: 7px 15px;
            box-sizing: border-box;
            background-color: #212121;
            border: unset;
            border-radius: 4px;
            outline: unset;
            color: #ccc;
        }
        button {
            svg {
                width: 20px;
            }
        }
    }
    span.buttonLike {
        width: 100%;
        margin: 5px 10px;
        padding: 3px 0px;
        border-top: solid 1px #3c3c3c;
        border-bottom: solid 1px #3c3c3c;
        button {
            transition: 200ms;
            width: 32%;
            margin: 0px 5px 0px 0px;
            padding-top: 6px;
            padding-bottom: 6px;
            border-radius: 4px;
            svg {
                width: 20px;
                margin-right: 5px;
            }
            label.labelLiked {
                color: $hight-light_color;
            }
        }
        button.buttonReport:hover {
            svg {
                path {
                    fill: red;
                }
            }
            label {
                color: red;
            }
        }
        button:hover {
            svg {
                path {
                    fill: $hight-light_color;
                }
            }
            label {
                color: $hight-light_color;
            }
        }
    }
    div.listComment {
        width: 100%;
        position: relative;
        margin: 0px 5px;
        svg.loadMore {
            width: 20px;
            position: absolute;
            bottom: 0px;
            right: 50%;
            cursor: pointer;
        }
    }
    div.firstCommentBox {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        border-radius: 3px;
        background-color: #212121; // box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
        margin: 7px 0px;
        div.commentAvatar {
            img {
                width: 30px;
                border: solid 1px #ccc;
                border-radius: 50%;
                margin-right: 15px;
            }
            label.labelAvatarCmt {
                width: 30px;
                height: 30px;
                margin-right: 15px;
            }
        }
        div.commentContent {
            span {
                width: 100%;
                display: block;
                margin-bottom: 5px;
                label.postProfileName {
                    font-size: .9em
                }
                label.postDate {
                    font-size: .65em;
                    margin-left: 15px;
                }
            }
            label.comment {
                font-size: .8em;
                word-break: break-word;
            }
        }
    }
    span.editPost {
        width: 100%;
        text-align: right;
        padding-right: 5px;
        display: inline-block;
        label.labelDelPost {
            font-size: .75em;
        }
        button.delPostYes {
            background-color: #bffbbf;
            margin: 0px 5px;
            padding: 3px;
            width: 40px;
            span {
                color: #008e00;
                font-size: .8em;
                font-weight: bold;
            }
        }
        button.delPostNo {
            background-color: #fbdfdf;
            margin: 0px 5px;
            padding: 3px;
            width: 40px;
            span {
                color: red;
                font-size: .8em;
                font-weight: bold;
            }
        }
        button {
            width: 30px;
            svg {
                width: 17px;
                path {
                    fill: $main_color_label;
                }
            }
        }
        button.postEditBtnCancel {
            width: 45px;
        }
        button.postEditBtnSubmit {
            svg {
                path {
                    fill: #00ff00 !important;
                }
            }
        }
        button:hover {
            svg {
                path {
                    fill: $hight-light_color;
                }
            }
        }
    }
    svg.editPost {
        width: 12px;
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
}