$app_background: #212121;
$container_main_height: calc(100vh - 79px);
$vh3: calc((100vh - 125px)/3);
$main_button_color: #ff3b00;
$hight-light_color: #ffe000;
$main_color_label:#ccc;
$footer_color: #131212;
 