@import '../Variable.scss';
div.dialogListNotification {
    z-index: 9999999;
    div:nth-child(2) {
        div:nth-child(1) {
            max-height: calc(100vh - 150px);
            //width: 386px;
        }
    }
    div.loadingListNotification{
        height: calc(100vh - 300px);
        width: 386px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        svg{
            width: 30px;
            fill: $main_button_color !important;
        }
        svg.emptyNotification{
            width: 80px;
            fill: #ccc !important
        }
    }
    div.dialogContent{
        padding: 0px 1px;
    }
    div.listNotificationsDiv {
        div.notReadNotification{
            background-color: #ececec;
        }
        div.notificationDiv {
            cursor: pointer;
            display: flex;
            margin-bottom: 5px;
            padding: 15px 10px;
            position: relative;
            img.formUserAvatar {
                width: 29px;
                height: 29px;
                border-radius: 50%;
            }
            label.notifiactionLabelAvatar {
                width: 25px;
                height: 25px;
                display: flex;
                background-color: floralwhite;
                color: red;
                align-items: center;
                justify-content: center;
                /* font-size: .9em; */
                font-weight: bold;
                border: solid 1px red;
                border-radius: 50%;
            }
            span.notifiactionContent {
                margin-left: 5px;
                font-size: .8em;
                margin-bottom: 5px;
                width: 330px;
                overflow: hidden;
                display: inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
                span.LIKE{
                    svg{
                        fill: $main_button_color !important;
                    }
                }
                span.COMMENT{
                    svg{
                        fill: green !important;
                    }
                }
                span.CHAT{
                    svg{
                        fill: red !important;
                    }
                }
                span.postIDSpan{
                    font-size: .75em;
                    position: absolute;
                    right: 15px;
                    bottom: 5px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    svg{
                        width: 13px;
                        margin-right: 5px;
                    }
                }
                label.notifiactionUserName {
                    margin-right: 5px;
                    font-weight: bold;
                    color: #ff3b00;
                }
                label.notifiactionTime {
                    display: block;
                    font-size: .75em;
                }
            }
        }
    }
}